/* @import url('http://fonts.cdnfonts.com/css/trebuchet-ms-2'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
    --primary-color:#38332F;
    --dark-grey: #38332F;
    --off-white:#38332F;
}

    

body {
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
}

.div1{
    font-family: 'Bellefair', serif;
}



/** container **/
.container {

    padding: 0rem 1rem;

}

.container-center {

    max-width: 600px;
    margin: auto;
}

.list-item-inline{
    display: inline;
    padding:3rem;
}

/* link */

.link {
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    margin:0.5rem o.5rem;
    color:black;
    
}


.link-primary {

    background-color: var(--primary-color);

    border-radius: 0.3rem;
    color: white;
    

}

.link-secondary {

    border: 1px solid #4d61fc;
    color: var(--primary-color);
    border-radius: 0.5rem;



}

.list-non-bullet {
    list-style: none;
}



.navigation {
    background-color:;
    color: white;
    padding: 0.3rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    /* border-top-left-radius: 0.6rem; */


}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: 1.1rem;
}

.nav-pills .link {
    color: white;
}

.navigation .link-active {
    font-weight: bolder;
}




/* footers */
.footer{
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    border-top-left-radius: 11px ;
    border-top-right-radius: 11px ;
    margin:4rem 0rem 0rem 0rem;
}
.footer .link{
    color:white;
}

.footer .ul{
    padding-inline-start: 0px;
}
.footer .mm{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size:large;
    color:white;
    
    
}

.footer .i1{
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.2rem;
    color:black;
}
  /* a1:hover {
    
    font-size: 101%;
  } */

.footer a:hover{
      
      font-size: 99%;
      opacity: 0.8; 
     }

::marker {
        unicode-bidi:none;
        font-variant-numeric: none;
        text-transform: none;
        color:var(--primary-color);
}




textarea {
    width: 80%;
    height: 20vh;
    display: block;
    margin: 1rem;
    border-radius: 1rem;
    color: #000;
    padding: 1rem;
    background: radial-gradient(circle, rgba(255, 237, 245, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

button {
    background-color: blanchedalmond
}

#output{
    border:1px solid black;
    margin:1rem;
    height: 20vh;
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
    background: radial-gradient(circle, rgba(255, 237, 245, 1) 0%, rgba(148, 187, 233, 1) 100%);
}




.card{
    max-width: 250px;
    display: inline-block;
    margin-top: 0rem;
    border-radius: 1rem;
    margin-left: 20vh;
    
}

.li1{
    display: inline-block;
    

}

img{
    margin-top: 0px;
    /* -webkit-filter: drop-shadow(5px 5px 5px #494949);
    filter: drop-shadow(5px 5px 5px #9b9b9b);     */
    
}
